<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DistanceApi" value="http://maps.googleapis.com/maps/api/distancematrix/xml?origins=" />
    <add key="RouteApi" value="http://dev.virtualearth.net/REST/V1/Routes/Driving?" />
  <add key="MyLogin" value="example@mail.com"></add>
    <add key="MyPassword" value="********"></add>
    <add key="Subject" value="EyeTaxi"></add>
    <add key="SMTP_TLS" value="587"></add>
    <add key="SMTP_SSL" value="465"></add>
    <add key="SMTP_Server_Adress" value="smtp.gmail.com"></add>
  </appSettings>
    
  <connectionStrings>
    <add name="BingMapApiKey" connectionString="bingMapApiKey" />
    <add name="GoogleApiKey" connectionString="googleApiKey" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
